<div class="container" *ngIf="colaborador">
  <h1>{{ colaborador.nome | uppercase }} - Editar</h1>

  <form action="">
    <input type="text" [(ngModel)]="colaborador.nome" placeholder="Nome">

    <div class="half">
      <input type="email" [(ngModel)]="colaborador.email" placeholder="E-mail">
      <input type="tel" placeholder="Telefone">
    </div>

    <select name="cargo" id="">
      
    </select>

    <input type="submit" value="Salvar">
  </form>

  <button class="btn-mais" (click)="goBack()">Voltar</button>
</div>