.top {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.buscar {
    width: 75%;
}

.buscar input.search {
    display: block;
    border: none;
    padding: .5rem;
    box-shadow: 2px 5px 10px 0 #e3e3e3;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    transition: .5s;
}

.buscar input.search:focus {
    outline: none;
    font-size: 1.2rem;
}

.buscar label {
    position: absolute;
    right: 26%;
    margin-top: 7px;
}

.btn-mais {
    margin-bottom: 1rem;
}

.btn-mais.calculo {
    background-color: #105021;
}

.btn-mais.calculo:hover {
    background-color: #e3e3e3;
}

.list-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user {
    background-color: #fff;
    width: 20%;
    padding: 1rem;
    box-shadow: 0 0 14px 0 #808080;
    margin: 1rem;
    transition: .5s;
}

.user h3 {
    font-weight: normal;
    height: 40px;
}

.user span.salario {
    display: none;
    padding: 6px;
    margin-bottom: 1rem;
    transition: .5s;
    /*background-color: #105021;*/
    color: #000;
    font-weight: bold;
}

.user span.salario img.gif {
    display: block;
    width: 30px;
    margin: 0 auto;
}

.user .calculo-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    transition: .5s;
}

.user .calculo-modal .modal-body {
    position: relative;
    background-color: #fff;
    width: 60%;
    margin: 8rem auto 0;
    padding: 1rem;
}

.user .calculo-modal .modal-body button {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #000;
    font-weight: bold;
    font-size: 20pt;
    border: none;
    background: none;
    cursor: pointer;
}

.user .calculo-modal .modal-body h4 {
    margin-top: 1rem;
    text-align: center;
}