.top {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.buscar {
    width: 75%;
}

.buscar input.search {
    display: block;
    border: none;
    padding: .5rem;
    box-shadow: 2px 5px 10px 0 #e3e3e3;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    transition: .5s;
}

.buscar input.search:focus {
    outline: none;
    font-size: 1.2rem;
}

.buscar label {
    position: absolute;
    right: 26%;
    margin-top: 7px;
}

.btn-mais {
    margin-bottom: 1rem;
}

.btn-mais.calculo {
    background-color: #105021;
}

.btn-mais.calculo:hover {
    background-color: #e3e3e3;
}

.list-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user {
    background-color: #fff;
    width: 20%;
    padding: 1rem;
    box-shadow: 0 0 14px 0 #808080;
    margin: 1rem;
    transition: .5s;
}

.user h3 {
    font-weight: normal;
    height: 40px;
}