<div class="container">

  <div class="top">
    <div class="buscar">
      <label for="busca">
        <i class="fa fa-search"></i>
      </label>
      <input type="text" class="search" placeholder="Buscar colaborador" name="busca" (keyup)="filtraFuncionarios($event, searchFuncionario.value)"
        #searchFuncionario>
    </div>
    <div class="botoes">
      <a class="btn-mais" routerLink="/cadastro">Cadastrar Colaborador
        <i class="fa fa-plus"></i>
      </a>
      <!--<button class="btn-mais calculo" onclick="calcSal">
        Calcular Salários
        <i class="fas fa-calculator"></i>
      </button>-->
    </div>
  </div>

  <div class="list-users">
    <div class="user colaboradores" *ngFor="let colaborador of colaboradores">
      <h2>
        <i class="fa fa-user"></i> {{ colaborador.nome }}</h2>
      <h3>
        <b>Cargo:</b> {{ colaborador.cargo.nome }}</h3>
      
      <span id="salario-{{colaborador.id}}" class="salario">
        <img class="gif" src="../../assets/images/loading.gif" alt="">
      </span>

      <a (click)="calcularSalario(colaborador)" class="btn-mais">Calcular Salário</a>
      <a class="btn-mais" routerLink="/detalhes/{{colaborador.id}}">Ver/Editar</a>

      <div id="modal-{{colaborador.id}}" class="calculo-modal">
        <div class="modal-body">
            <h4>Cáculo Salário - {{colaborador.nome}}</h4>

            <button (click)="fecharModal(colaborador.id)" class="close">&times;</button>

            <ul class="desc-calculo">
              <li>
                <span>Salário Bruto:</span>

                <p class="salario-bruto"></p>
              </li>
              <li>
                <span>INSS:</span>

                <p class="inss"></p>
              </li>
              <li>
                <span>IRRF:</span>

                <p class="irrf"></p>
              </li>
              <li>
                <span>Adicional Periculosidade:</span>

                <p class="adicional"></p>
              </li>
              <li>
                <span>Salário Líquido:</span>
                
                <p class="salario-liq"></p>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>