/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #efefef;
    position: relative;
    height: 100%;
}

/*
$cor1: #ff3b3f;
$cor2: #caebf2;
$cor3: #a9a9a9;
$cor4: #efefef;
$font: 'Chau Philomene One', sans-serif;
*/

* {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    padding: 0 2rem;
}

header nav {
    background-color: #FF3B3F;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px 0 #e3e3e3;
}

header nav h1 {
    font-family: 'Chau Philomene One', sans-serif;
    color: #caebf2;
    margin: 0;
    font-size: 2rem;
}

header nav ul {
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
}

header nav ul li {
    margin-right: 1.5rem;
    overflow: hidden;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}

header nav ul li a:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #caebf2;
    margin-left: -100%;
    transition: 1s;
}

header nav ul li a:hover {
    color: #caebf2;
}

header nav ul li a:hover:after {
    margin-left: 0;
}

.btn-mais {
    padding: 12px;
    text-align: center;
    background-color: #FF3B3F;
    border: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    cursor: pointer;
    transition: .5s;
}

.btn-mais:hover {
    background-color: #a9a9a9;
    color: #FF3B3F;
    box-shadow: 0 0 10px 0 #e3e3e3;
}

form {
    width: 100%;
}

form input, select {
    width: 100%;
    display: block;
    border: none;
    padding: .5rem;
    box-shadow: 2px 5px 10px 0 #e3e3e3;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
    transition: .5s;
}

form input:focus, select:focus {
    outline: none;
    font-size: 1.2rem;
}

form .half {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form .half input {
    width: 48%;
    margin-left: 0;
    margin-right: 0;
}

form input[type="submit"] {
    width: 15%;
    margin-left: 0;
    background-color: #00ffaa; 
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #caebf2;
}

footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 97.6%;
    padding: 1rem;
    margin-bottom: -8rem;
    box-shadow: 0px 0px 15px 0 #e3e3e3;
    text-align: center;
}